<div class="container">
	<div class="search_bar" style="padding: 20px;">
	  <%= render partial: "search_form", locals: {search: @search} %>
	</div>  

	<% if @response&.total_pages && @response.total_pages > 0 %>
	  
	  <div class="container">
		<div class="row">
	      
		  <div class="col-xs-12 col-sm-8 offset-sm-2">	    
		    <% @response.volumes.each do |volume| %>
		      <div class="row" style="padding: 20px;">
		          <div class='col-md-3 card-img-top'>
		            <%= image_tag("#{volume.thumbnail}", class: 'image ')%>
		          </div>
		      	  <div class='col-md-6 card-body'>
		      	    <a href="<%= volume.info_link %>"><h3><%= volume&.title %></h3></a>
		            <p><%= volume.authors %> | <i><%= volume.publisher || "No Publisher"%></i></p>    
		        </div>
		      </div>
		    <% end %>
		  </div>
		</div>	  
	    <%= render partial: "pagination", locals: {search: @search, response: @response} %>
	  </div>
	<% else %>
		<div class="container">
			<div class="row text-center">
				<h3> No results found for search "<%=@search[:input]%>"</h3>
			</div>
		</div>
	<% end %>
</div>